<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title><%= titulo  %></title>
</head>
<body>
    <h1>¿Has olvidado la contraseña?</h1>
    <p>Rellena el siguiente formulario y le enviaremos una clave que tendrá que verificar</p>
    <form action="/" method="POST">
        <input type="text" placeholder="Nombre..." name="nombre" required>
        <input type="text" placeholder="Apellidos..." name="apellidos" required>
        <input type="text" placeholder="Correo electronico..." name="email" required>
        <button type="submit">Enviar email</button>
    </form>
</body>
</html>

 