<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title><%= titulo  %></title>
</head>
<body>
    <h1>Validación de clave</h1>
    <form action="/validacion" method="POST">
        <textarea name="token" placeholder="Escribe el token enviado por email" id="" cols="30" rows="10"></textarea>
        <button type="submit">Validar</button>
    </form>
</body>
</html>

 